<header id="desktop_header" class="d-flex">
    <p>Kanban Project Managment Tool</p>
    <div class="Desktop_header_rightArea d-flex">
        <img id="header_help_icon" src="/assets/img/header_help_icon.png" alt="?" onclick="openHelp()">
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none">
            <circle cx="28" cy="28" r="26.5" stroke="#2A3647" stroke-width="3" />
            <text x="48%" y="60%" text-anchor="middle" fill="blue" alignment-baseline=" middle"> SM
        </svg>

    </div>

</header>

<aside id="desktop_sider" class="d-flex flex-direction-col">
    <img class="Sider_Logo" src="/assets/img/join_logo_white.png" alt="">

    <span class="Sider_Main_Links">
        <a href="/summary.html" class="d-flex">
            <img class="Sider_Icons" src="/assets/img/sider_summary_icon.png" alt="">
            <p> Summary</p>
        </a>
        <a href="/add_task.html" class="d-flex">
            <img class="Sider_Icons" src="/assets/img/sider_addTask_icon.png" alt="">
            <p> Add Task</p>
        </a>
        <a href="/board.html" class="d-flex">
            <img class="Sider_Icons" src="/assets/img/sider_board_icon.png" alt="">
            <p> Board</p>
        </a>
        <a href="/contacts.html" class="d-flex">
            <img class="Sider_Icons" src="/assets/img/sider_contacts_icon.png" alt="">
            <p> Contacts</p>
        </a>
    </span>
    <span class="Sider_Lower_links d-flex flex-direction-col p-relative">
        <a href="#">Privacy Police</a>
        <a href="#">Legal notice</a>
    </span>
</aside>