<header id="desktop_header">
    <p>Kanban Project Managment Tool</p>

</header>

<aside id="desktop_sider" class="d-flex flex-direction-col">
    <img class="Sider_Logo" src="/10 Join/Join-648/assets/img/join_logo_white.png" alt="">

    <span class="Sider_Main_Links">
        <a href="/summary.html" class="d-flex">
            <img class="Sider_Icons" src="/10 Join/Join-648/assets/img/sider_summary_icon.png" alt="">
            <p> Summary</p>
        </a>
        <a href="/add_task.html" class="d-flex">
            <img class="Sider_Icons" src="/10 Join/Join-648/assets/img/sider_addTask_icon.png" alt="">
            <p> Add Task</p>
        </a>
        <a href="/board.html" class="d-flex">
            <img class="Sider_Icons" src="/10 Join/Join-648/assets/img/sider_board_icon.png" alt="">
            <p> Board</p>
        </a>
        <a href="/contacts.html" class="d-flex">
            <img class="Sider_Icons" src="/10 Join/Join-648/assets/img/sider_contacts_icon.png" alt="">
            <p> Contacts</p>
        </a>
    </span>
    <span class="Sider_Lower_links d-flex flex-direction-col p-relative">
        <a href="#">Privacy Police</a>
        <a href="#">Legal notice</a>
    </span>
</aside>