<header id="mobile_header" class="d-flex">
    <img id="header_logo_m" src="/assets/img/join_logo_black.png" alt="J">
    <svg width="40" height="40" viewBox="0 0 56 56" fill="none">
        <circle cx="28" cy="28" r="26.5" stroke="#2A3647" stroke-width="3" />
        <text id="svg_text" x="48%" y="60%" text-anchor="middle" fill="blue" alignment-baseline=" middle">
    </svg>
</header>

<footer id="mobile_footer" class="d-flex">

    <div class="Footer_link_pack">
        <a href="/summary.html" class="d-flex flex-direction-col Sider_footer_links">
            <img class="Footer_icon_m" src="/assets/img/sider_summary_icon.png" alt="">
            <p> Summary</p>
        </a>
    </div>
    <div class="Footer_link_pack">
        <a href="/add_task.html" class="d-flex flex-direction-col Sider_footer_links">
            <img class="Footer_icon_m" src="/assets/img/sider_addTask_icon.png" alt="">
            <p> Add Task</p>
        </a>
    </div>
    <div class="Footer_link_pack">
        <a href="/board.html" class="d-flex flex-direction-col Sider_footer_links">
            <img class="Footer_icon_m" src="/assets/img/sider_board_icon.png" alt="">
            <p> Board</p>
        </a>
    </div>
    <div class="Footer_link_pack">
        <a href="/contacts.html" class="d-flex flex-direction-col Sider_footer_links">
            <img class="Footer_icon_m" src="/assets/img/sider_contacts_icon.png" alt="">
            <p> Contacts</p>
        </a>
    </div>
</footer>