main {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 8em;
  margin-bottom: 120px;
  width: calc(100% - 2em);
}

.board-heading {
  display: flex;
  flex-direction: column;
}

.board-heading h1 {
  font-size: 2.9375rem;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

.board-heading img {
  width: 1.25rem;
  height: 1.25rem;
}

.board-heading button {
  border: none;
  border-radius: 0.63rem;
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
}

.board-heading-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-heading-mobile button {
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
}

.heading-desktop-rightSide button {
  display: none;
}

input {
  border: none;
  outline: none;
  font-size: unset;
  font-family: unset;
  min-width: 0;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid #a8a8a8;
  border-radius: 0.625rem;
  margin-block-start: 2.5em;
  background: #fff;
  margin-bottom: 1.5em;
}

.board-heading input::placeholder {
  font-size: 1.25rem;
  color: #d1d1d1;
}

.gap1em {
  gap: 1em;
}

img.input-icon {
  width: 32px;
  object-fit: cover;
}

.add-task-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
}

.content h2 {
  color: #2a3647;
  font-size: 1.6875rem;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

.content img {
  width: 24px;
  object-fit: contain;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.625rem;
}

.row-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.placeholder {
  display: flex;
  width: 100%;
  padding: 0.53em;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  border: 1px dashed #a8a8a8;
  background: #e7e7e7;
  border-radius: 0.625rem;
  border: 1px dashed #a8a8a8;
  background: #e7e7e7;
}

@media (min-width: 550px) {
}

@media (min-width: 820px) {
  main {
    margin-left: 14.75em;
    margin-right: 4em;
    width: calc(100% - 18.75em);
  }

  .board-heading {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
  }

  .board-heading h1 {
    font-size: 3.8125rem;
  }

  .board-heading-mobile button {
    display: none;
  }

  .board-heading-desktop {
    width: 100%;
  }

  .heading-desktop-rightSide {
    display: flex;
    gap: 2em;
  }

  .heading-desktop-rightSide button {
    width: 10.25rem;
    height: 3rem;
    display: flex;
    padding: 0.5em 0.7em 0.5em 1em;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    border-radius: 0.625rem;
    border: 1px solid #2a3647;
    color: white;
    font-size: 1.3125rem;
    font-weight: 700;
  }

  button svg {
    min-width: 32px;
  }

  .input {
    width: 19.5rem;
    height: 3rem;
    padding: 0.5em 1em;
    border: 1px solid #a8a8a8;
    border-radius: 0.63rem;
    background: #fff;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-left: 3em;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: unset;
    gap: 1.5em;
  }

  .content h2 {
    font-size: 1.25rem;
  }

  .content img {
    width: 1.5rem;
    object-fit: contain;
  }

  .row-title {
    margin-bottom: 0.97em;
    gap: 1em;
  }
}
