:root {
    --logo-target-padding: 2em;
}

header {
    padding: var(--logo-target-padding);
    position: relative;
    opacity: 0;
    transition: 1s;
}

header.splash-moving {
    opacity: 1;
}

#login-logo, #login-logo-static {
    transform: none;
    width: 60px;
}

#login-logo.splash-active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    transition: 1s;
}

#login-logo.splash-moving {
    top: var(--logo-target-padding);
    left: var(--logo-target-padding);
    transform: translate(0,0);
}

.login-sign-up-banner {
    position: absolute;
    top: var(--logo-target-padding);
    right: var(--logo-target-padding);
}

#splash-login-bg {
    background-color: var(--secondary-bg-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 1s;
}

#splash-login-bg.splash-moving {
    background-color: transparent;
}

.d-none {
    display: none;
}

@media (min-width: 600px) {
    #splash-login-bg {
        background-color: white;
    }
}