:root {
    --logo-target-padding: 2em;
}

#login-logo {
    transform: none;
    width: 60px;
}

#login-logo.splash-active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    transition: 1s;
}

#splash-login-bg {
    background-color: var(--secondary-bg-color);
    height: 100vh;
    transition: 1s;
}

#splash-login-bg.splash-moving {
    background-color: transparent;
}

#login-logo.splash-moving {
    top: var(--logo-target-padding);
    left: var(--logo-target-padding);
    transform: translate(0,0);
}

.d-none {
    display: none;
}

header {
    padding: var(--logo-target-padding);
}

header.splash-active {
    padding: 0;
}