/* inter-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/inter-v12-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/inter-v12-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/inter-v12-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/inter-v12-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/inter-v12-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/inter-v12-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/inter-v12-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  font-size: 1em;
  /*usually evaluates to 16px; adjust to set basic font-size (xem with x = (desired basic font size in px)/(16 px); all other font-sizes in rem*/
  box-sizing: border-box;
  --primary-bg-color: #091931;
  --secondary-bg-color: #2A3647;
  --subtle-bg-color: #F6F7F8;
  --accent-color: #29ABE2;
  --decent-color: #A8A8A8;
  --fs-smaller: ;
  --fs-small: 1rem;
  --fs-normal: 1.25rem;
  --fs-tall: 2.25rem;
  --fs-taller: 2.938rem;
  --fs-tallest: 3.813rem;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*use following template if any third-party components are used that require box-sizing: content-box	
.third-party-component {	
box-sizing: content-box;	}*/
body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-normal);
  background-color: var(--subtle-bg-color);
  color: var(--secondary-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: unset;
}

.text-link {
  color: var(--accent-color);
  text-decoration: none;
}

.btn {
  border: none;
  padding: 1em 2em;
  font-size: var(--fs-small);
  font-weight: 400;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: var(--primary-bg-color);
}

.btn-primary:hover {
  background-color: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 100ms;
}

.btn-secondary {
  color: var(--primary-bg-color);
  background-color: white;
  border: 1px solid var(--primary-bg-color);
}

.btn-secondary:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 100ms;
}

/* Desktop Sider & Header */

#desktop_header {
  position: fixed;
  background-color: #FFFFFF;
  width: 100vw;
  height: 96px;
  justify-content: space-between;
  align-items: center;
}

#desktop_header p {
  padding-left: 300px;
}

.Header_rightArea_d {
  padding-right: 2vw;
  align-items: center;
  justify-content: space-between;
  width: 123px;
  height: 56px;
}

#header_help_icon_d {
  width: 20px;
  height: 20px;
}

#header_help_icon:hover {
  cursor: pointer;
}

@media (max-width: 800px) {

  #desktop_header p {
    padding-left: 242px;
  }
}

#desktop_sider {
  position: fixed;
  height: 100vh;
  width: 232px;
  z-index: 2;
  background-color: #2A3647;
  color: #CDCDCD;
  justify-content: space-around;
  align-items: center;
}

.Sider_Logo_d {
  width: 100px;
  height: 122px;
}

.Sider_main_links_d {
  margin-bottom: 100px;
  height: 229px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Sider_main_links_d a {
  justify-content: left;
  width: 100%;
  padding-left: 45px;
}

.Sider_footer_links {
  color: white;
  text-decoration: none;
}

.Sider_Icons_d {
  width: 25px;
  height: 25px;
  position: relative;
  top: 20px;
  right: 12px;
}

.Sider_lower_links_d {
  bottom: -24px;
}

.Sider_lower_links_d a {
  text-decoration: none;
  color: #a8a8a8;
  margin-bottom: 14px;
}


/* Mobile Header & Footer */

#mobile_header {
  background-color: #FFFFFF;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  padding: 20px 16px 20px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header_logo_m {
  width: 32px;
  height: 40px;
}


#mobile_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  background-color: #2A3647;
  color: #CDCDCD;
  justify-content: space-around;
}



.Footer_link_pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Footer_link_pack a {
  justify-content: center;
  align-items: center;
}

.Footer_link_pack p {
  margin: 8px;
}

.Footer_icon_m {
  width: 22px;
  height: 22px;
}

.MenuButton {
  opacity: 0.7;
}

.MenuButton:hover {
  opacity: 1 !important;
  background-color: #091931 !important;
}

.Choosen_field {
  opacity: 1 !important;
  background-color: #091931 !important;
}

/* Utility classes */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: start;
}

.flex-direction-col {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.p-inline-1 {
  padding-inline: 0.5em;
}