/* inter-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/inter-v12-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/inter-v12-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/inter-v12-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/inter-v12-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/inter-v12-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/inter-v12-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/inter-v12-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  font-size: 1em;
  /*usually evaluates to 16px; adjust to set basic font-size (xem with x = (desired basic font size in px)/(16 px); all other font-sizes in rem*/
  box-sizing: border-box;
  --primary-bg-color: #091931;
  --secondary-bg-color: #2A3647;
  --subtle-bg-color: #F6F7F8;
  --accent-color: #29ABE2;
  --fs-smaller: ;
  --fs-small: 1rem;
  --fs-normal: 1.25rem;
  --fs-tall: 2.25rem;
  --fs-taller: 2.938rem;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*use following template if any third-party components are used that require box-sizing: content-box	
.third-party-component {	
box-sizing: content-box;	}*/
body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: var(--subtle-bg-color);
  color: var(--secondary-bg-color);
}


/* Desktop Sider & Header 
*/
#desktop_sider {
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 232px;
  background-color: #2A3647;
  color: #CDCDCD;
  justify-content: space-around;
  align-items: center;
}

.Sider_Logo {
  width: 100px;
  height: 122px;
}

.Sider_Main_Links {
  margin-bottom: 100px;
  height: 229px;
}

.Sider_Main_Links a {
  color: white;
  text-decoration: none;
  justify-content: left;
}

.Sider_Icons {
  width: 25px;
  height: 25px;
  position: relative;
  top: 12px;
  right: 12px;
}

.Sider_Lower_links {
  bottom: -24px;
}

.Sider_Lower_links a {
  text-decoration: none;
  color: #a8a8a8;
  margin-bottom: 14px;
}


#desktop_header {
  background-color: #FFFFFF;
  position: fixed;
  width: 100vw;
}

/* Utility classes */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.align-items-center {
  align-items: center;
}